 <div class="container center-block">
 	<div>
 		<div class="col-md-4 col-md-offset-3">
 			<form name="complaintForm">

 				<fieldset>
 					<legend>Infome a especialidade abaixo</legend>

 					<div class="form-group row">
 						<div class="col-sm-10">
 							<input type="text" class="form-control" name="especialidades" id="inputEspecialidade" ng-model="especialidade.descricao">
 						</div>
 					</div>

 				</fieldset>
 				<button class="btn btn-primary btn-block" ng-click="addEspecialidade(especialidade)">Adicionar Especialidade</button>
 				
 			</form>
 		</div>
 	</div>